{% extends 'base.html' %}

{% block title %}
{{ super() }} - {{ title }}
{% endblock %}
{% block content%}
<form action="/" method="post">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <input type="text" name="username" placeholder="Введите имя">
    <input type="submit" value="отправить"></form>
{% endblock %} }